<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="visit">
            <h2><span jhiTranslate="stomaApp.visit.detail.title">Visit</span> {{ visit.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="stomaApp.visit.startTime">Start Time</span></dt>
                <dd>
                    <span>{{ visit.startTime }}</span>
                </dd>
                <dt><span jhiTranslate="stomaApp.visit.durationMin">Duration Min</span></dt>
                <dd>
                    <span>{{ visit.durationMin }}</span>
                </dd>
                <dt><span jhiTranslate="stomaApp.visit.completed">Completed</span></dt>
                <dd>
                    <span>{{ visit.completed }}</span>
                </dd>
                <dt><span jhiTranslate="stomaApp.visit.description">Description</span></dt>
                <dd>
                    <span>{{ visit.description }}</span>
                </dd>
                <dt><span jhiTranslate="stomaApp.visit.comments">Comments</span></dt>
                <dd>
                    <span>{{ visit.comments }}</span>
                </dd>
                <dt><span jhiTranslate="stomaApp.visit.cost">Cost</span></dt>
                <dd>
                    <span>{{ visit.cost }}</span>
                </dd>
                <dt><span jhiTranslate="stomaApp.visit.patient">Patient</span></dt>
                <dd>
                    <div *ngIf="visit.patientId">
                        <a [routerLink]="['/patient', visit.patientId, 'view']">{{ visit.patientLastName }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="stomaApp.visit.material">Material</span></dt>
                <dd>
                    <span *ngFor="let material of visit.materials; let last = last">
                        <a [routerLink]="['/material', material?.id, 'view']">{{ material.name }}</a>{{ last ? '' : ', ' }}
                    </span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/visit', visit.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
