<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="address">
            <h2><span jhiTranslate="stomaApp.address.detail.title">Address</span> {{ address.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="stomaApp.address.streetAddress">Street Address</span></dt>
                <dd>
                    <span>{{ address.streetAddress }}</span>
                </dd>
                <dt><span jhiTranslate="stomaApp.address.postalCode">Postal Code</span></dt>
                <dd>
                    <span>{{ address.postalCode }}</span>
                </dd>
                <dt><span jhiTranslate="stomaApp.address.city">City</span></dt>
                <dd>
                    <span>{{ address.city }}</span>
                </dd>
                <dt><span jhiTranslate="stomaApp.address.county">County</span></dt>
                <dd>
                    <span>{{ address.county }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/address', address.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
