<div>
    <h2 id="page-heading">
        <span jhiTranslate="stomaApp.material.home.title">Materials</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-material" [routerLink]="['/material/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="stomaApp.material.home.createLabel">
            Create a new Material
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="materials?.length === 0">
        <span jhiTranslate="stomaApp.material.home.notFound">No materials found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="materials && materials.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="stomaApp.material.name">Name</span></th>
                    <th scope="col" ><span jhiTranslate="stomaApp.material.description">Description</span></th>
                    <th scope="col" ><span jhiTranslate="stomaApp.material.unitCost">Unit Cost</span></th>
                    <th scope="col" ><span jhiTranslate="stomaApp.material.quantity">Quantity</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let material of materials ;trackBy: trackId">
                    <td><a [routerLink]="['/material', material.id, 'view']">{{ material.id }}</a></td>
                    <td>{{ material.name }}</td>
                    <td>{{ material.description }}</td>
                    <td>{{ material.unitCost }}</td>
                    <td>{{ material.quantity }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/material', material.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/material', material.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(material)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
